{% extends "admin/base_site.html" %}

{% block content %}

<strong>Select unique key to apply for comparison:</strong>

<form action="" method="post">

    {{ compare_form.as_p }}


	<br /><br />
    <p><strong>Comparison will be done for:</strong></p>

    <ul>{{ datasets|unordered_list }}</ul>

	<br /><br />
    <input type="hidden" name="action" value="compareRunIds_csv" />
    <input type="submit" name="compare" value="Compare" />
    {% csrf_token %}
</form>

{% endblock %}