{% extends "admin/base_site.html" %}
{% load mytemplatetags %}


{% block content %}

{% if protein_set|length != 0  %}
{% include 'grappelli_collapse_js.html' %}

<form action="" method="post">


    <fieldset class="grp-module">
		{% get_fieldset PDB_selection pdb_identifier,pdb_select as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>

    <fieldset class="grp-module ">
       	{% get_fieldset Display viewer,color_scheme as fieldset from form %}
       	{% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>

    <fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Alignment_threshold protein_identity,peptide_identity as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>
    
    <fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Random_distribution cross_linked_residues as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>
    
    <fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Quantification quantification,fold_change_limit,hide_not_quantified as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>
    
    <fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Color_Gradient_Limit min_score,max_score as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>
    

       	
       	{% get_fieldset selection _selected_action as fieldset from form %}
       	{{ fieldset.as_p }}


	<input type="hidden" name="random" value="{{random}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="submit" name="view" value="View" />
    {% csrf_token %}

    
</form>

<br /><br />


<strong>BLAST protein sequence against PDB</strong><br />
{% for protein in protein_set %}
<a href='http://www.ncbi.nlm.nih.gov/blast/Blast.cgi?QUERY={{protein.sequence}}&db=protein&QUERY_FROM=&QUERY_TO=&GENETIC_CODE=1&JOB_TITLE=&SUBJECTS=&stype=protein&SUBJECTS_FROM=&SUBJECTS_TO=&DATABASE=pdb&EQ_MENU=&NUM_ORG=1&EQ_TEXT=&BLAST_PROGRAMS=blastp&PHI_PATTERN=&MAX_NUM_SEQ=100&SHORT_QUERY_ADJUST=on&EXPECT=10&WORD_SIZE=3&HSP_RANGE_MAX=0&MATRIX_NAME=BLOSUM62&MATCH_SCORES=1,-2&GAPCOSTS=11 1&COMPOSITION_BASED_STATISTICS=2&REPEATS=5755&TEMPLATE_LENGTH=0&TEMPLATE_TYPE=0&I_THRESH=&DI_THRESH=&PSI_PSEUDOCOUNT=&SHOW_OVERVIEW=on&SHOW_LINKOUT=on&GET_SEQUENCE=on&FORMAT_OBJECT=Alignment&FORMAT_TYPE=HTML&ALIGNMENT_VIEW=Pairwise&MASK_CHAR=2&MASK_COLOR=1&DESCRIPTIONS=100&ALIGNMENTS=100&LINE_LENGTH=60&NEW_VIEW=on&OLD_BLAST=false&OLD_VIEW=false&NCBI_GI=&SHOW_CDS_FEATURE=&NUM_OVERVIEW=100&FORMAT_EQ_TEXT=&FORMAT_ORGANISM=&EXPECT_LOW=&EXPECT_HIGH=&PERC_IDENT_LOW=&PERC_IDENT_HIGH=&QUERY_INDEX=0&FORMAT_NUM_ORG=1&CONFIG_DESCR=2,3,4,5,6,7,8&CLIENT=web&SERVICE=plain&CMD=request&PAGE=Proteins&PROGRAM=blastp&MEGABLAST=&RUN_PSIBLAST=&WWW_BLAST_TYPE=&TWO_HITS=&CDD_SEARCH=on&ID_FOR_PSSM=&SAVED_PSSM=&SELECTED_PROG_TYPE=blastp&SAVED_SEARCH=&BLAST_SPEC=&MIXED_DATABASE=&QUERY_BELIEVE_DEFLINE=&DB_DIR_PREFIX=&USER_DATABASE=&USER_WORD_SIZE=&USER_MATCH_SCORES=&USER_FORMAT_DEFAULTS=&NO_COMMON=&NUM_DIFFS=1&NUM_OPTS_DIFFS=0&UNIQ_DEFAULTS_NAME=&PAGE_TYPE=BlastSearch&USER_DEFAULT_PROG_TYPE=blastp&USER_DEFAULT_MATRIX=4'  target="_blank">{{protein.identifier}}</a><br />
{% endfor %}
{% else %}
<br /><br />
<strong>Protein set is empty. Hit back and select an other dataset.</strong>
{% endif %}


{% endblock %}