{% extends "admin/base_site.html" %}
{% load mytemplatetags %}


{% block content %}

{% include 'grappelli_collapse_js.html' %}

<form action="" method="post">


    <fieldset class="grp-module">
		{% get_fieldset PDB_selection pdb_identifier,pdb_select as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>

    <fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Alignment_threshold protein_identity,peptide_identity as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>
    


       	
       	{% get_fieldset selection _selected_action as fieldset from form %}
       	{{ fieldset.as_p }}


	<input type="hidden" name="viewer" value="SIGNED" />
	<input type="hidden" name="color_scheme" value="default" />
	
	<input type="hidden" name="random" value="{{random}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="submit" name="view" value="View" />
    {% csrf_token %}

    
</form>



{% endblock %}