{% extends "admin/base_site.html" %}
{% load mytemplatetags %}

{% block content %}

<strong>Select parameters for Percolator processing:</strong>
<br /><br />
<form action="" method="post">


{% include 'grappelli_collapse_js.html' %}

<form action="" method="post">

    <fieldset class="grp-module ">
       	{% get_fieldset Parameters q_value,cl_type,nv as fieldset from form %}
       	{% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>


       	
       	{% get_fieldset selection _selected_action as fieldset from form %}
       	{{ fieldset.as_p }}


	<br /><br />
	<input type="hidden" name="random" value="{{random}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="submit" name="Process" value="Process" />
    {% csrf_token %}
</form>

{% endblock %}