{% extends "admin/base_site.html" %}
{% load mytemplatetags %}

{% block content %}

<strong>Select cross-links color scheme for xiNET:</strong>
<br /><br />
<form action="" method="post">


{% include 'grappelli_collapse_js.html' %}

<form action="" method="post">

    <fieldset class="grp-module ">
       	{% get_fieldset Display color_scheme as fieldset from form %}
       	{% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>

	<fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Color_Gradient_Limit min_score,max_score as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>

    <fieldset class="grp-module grp-collapse grp-closed">
       	{% get_fieldset Quantification quantification,fold_change_limit,hide_not_quantified as fieldset from form %}
        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
       	{{ fieldset.as_grapelli }}
    </fieldset>
    

       	
       	{% get_fieldset selection _selected_action as fieldset from form %}
       	{{ fieldset.as_p }}


	<br /><br />
	<input type="hidden" name="random" value="{{random}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="submit" name="view" value="View" />
    {% csrf_token %}
</form>

{% endblock %}