/* ===========================================================
    GENERAL STYLES
 * =========================================================== */

body {
/*
    margin-left:240px;
*/
    padding: 0px;
    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  /* Better Helvetica */
}

html, body, #outerDiv  {
    height: 100%;
    width: 100%;
/*
    min-height: 700px;
*/
}

/* ===========================================================
    NETWORK VIEWER-SPECIFIC STYLES
 * =========================================================== */

input, select, button {
 margin:4px;
}

.sliderbar {
    width:200px; 
    background-color:#fff;
    -webkit-box-shadow: inset 1px 1px 1px 1px #999;
    box-shadow: inset 1px 1px 1px 1px #999; 
    height:15px;
    position: relative;
    display:inline-block;
}

#networkContainer {
    position: fixed;
    display: block;
    top: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    clear: both;
    overflow: hidden;
}

#infoButton {
	float:right;
	color: black;
	background: #ffff99;
	width: 120px;
	position: fixed;
	z-index: 20;
	right:20px;
}

.controls {
    position: fixed;
    top: 0px;
/*
    left: 250px;
    right: 20px;
*/
    text-align: left;
    height: 60px;
    z-index: 20;
    background-color:#fff;
    margin:0px;
    padding:0px;
    vertical-align:top;
}

#track1 {
    width:200px;
    background-color:#fff;
    -webkit-box-shadow: inset 1px 1px 1px 1px #999;
    box-shadow: inset 1px 1px 1px 1px #999;
    height:15px;
    display:inline-block;
}

#handle1 {
    width: 30px;
    height: 14px; 
    border: solid #000 1px; 
    background-color: #777; 
    cursor: move; 
    left: 0px; 
    position: relative; 
}

.controlGroup p{
	margin-bottom:0px;
	margin-top:10px;
	margin-left:9px;
	margin-right:9px;
}
.controlGroup{
    display: inline-block;
    color: #7F8C8D;
    background-color: #ECF0F1;
    border: 1px solid #2C3E50;
    margin:4px;
    height:39px;
    vertical-align:top;
}

#scoreSlider{
    width: 480px;
}

#debug1 {
    display:inline-block;
/*
    width:140px;
*/
}

.scoreLabel {
    display:inline-block;
    color: #34495e;
}

.info{
   background: rgba(189, 195, 199, 0.95);
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    clear: both;
    height:60px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 8px;
    z-index: 15;
 }	
		
/* ===========================================================
    OVERLAY STYLES
 * =========================================================== */

.overlay {
    background: rgba(189, 195, 199, 0.95);
    position: fixed;
    width: 500px;
    top: 100%;
    left: -10px;
/*
    color: #fff;
*/
    z-index: 10;
    padding: 20px;
    margin-top: 60px;
    line-height: 2;
    text-align: left;
    display: none;
    
    border-radius: 0px 20px 20px 0px;
}

.overlay-box a:hover {
    color: #fff;
    background-color: #16A085;
    padding: 2px 0px 2px 0px;
}

.overlay-box h6 {
    font-weight: 700;
    text-decoration: underline;
}


.overlay-box table {
	font-size: 14px;
	left: auto;
	right: auto;
	top: 10px;
	position: relative;
/*
	margin-left: auto;
	margin-right: auto;
*/
	width: 100%;
	border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.overlay-box th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
    border: 0px;
}

.overlay-box thead td {
    color: #34495E;
}

.overlay-box td {
	color: #777;
	padding: 9px 8px 0px 8px;
	border: 0px solid #eee;
}

.overlay-box  tbody tr:hover td {
	color: #009;
	background-color:#ECF0F1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
	transition: all 200ms ease;
}

