#myPrecursorZ, #myPeaklist, #myPeptide, #myTolerance {display:none;}

#a > img {border-width:0px;}
#h1 {margin:0px; background-color:darkblue;color:silver;}
#body {margin:0px;background-color:silver;color:darkblue;}
#container {margin:5px;}

.speca {font-size:larger;font-weight:bold;text-decoration:none;}
.speca:hover {text-decoration:underline;}
.spec0 {color:green;}
.spec1 {color:blue; }
.spec2 {color:red;}
.hidey {visibility: hidden;}
#checkform {font-size: smaller;}

#toolbar { float: right; background-color: aliceblue;  border-radius: 15px; padding: 5px; }
#toolbar  img { width: 32px; }

.toolbutton {font-size:smaller;}
.activetoolbutton img { background-color: orange; }


#div.jbApp {border: solid 2px grey; font-family: Arial, Helvetica, sans-serif; }
div.jbAppFrame { background: aliceblue; }
div.jbAppWindow { border: solid 3px aliceblue; color: aliceblue; background: navy; box-shadow: 10px 10px 5px #888; }
div.jbAppWindow > a {  color: aliceblue; background: navy; font-family: sans-serif; text-decoration: none; }
div.jbAppWindow > div > a { color: aliceblue; background: none; font-family: sans-serif; text-decoration: none;  padding-left:2px;padding-right:2px;padding-bottom:2px;}

div.jbAppWindow > a, div.jbAppWindow > div > a  {  font-style: italic; font-weight: bold; margin-right: 10px;margin-left: 10px;}

.jbAppWindowTitle, div.jbAppWindow   { border-top-left-radius: 15px; border-top-right-radius: 15px; }
div.jbAppWindow textarea {
	height:500px; width: 95%; padding: 5px; 
	border-top-left-radius: 5px; border-top-right-radius: 5px;  
	-moz-tab-size: 12; -o-tab-size: 12; tab-size: 12; 
}
.jbAppWindowTitle { cursor:move; }

div.jbAppWindowPane { border: solid 2px aliceblue; background: aliceblue; color:navy;}
table.jbAppEditTable {background:lightgrey; }
td.jbAppEditTableCell { background:white;}
td.jbAppEditTableCellFreeText { border: inset 2px white; } 
th.jbAppEditTableHeader { color:grey; font-style:italic;}
a.jbAppFrameButton { border: outset 2px aliceblue; background: aliceblue; cursor: pointer;  padding-left: 10px; padding-right: 10px;  } 
a.jbAppFrameButton:active { border: inset 2px orange; background: orange; } 
a.jbAppFrameButton:hover { border: outset 2px orange; background: orange; } 
a.jbAppFrameButton:visited { border: outset 2px aliceblue; background: aliceblue; } 

div.jbAppTableFrameButtonButtons {background: navy; padding: 2px;}

a.jbAppTableFrameButtonOK { padding-left:10px; padding-right:10px; margin-left:10px; margin-right: 10px; border: outset 2px aliceblue; background: aliceblue; cursor: pointer; } 
a.jbAppTableFrameButtonOK:active { border: inset 2px orange; background: orange; } 
a.jbAppTableFrameButtonOK:hover { border: outset 2px orange; background: orange; } 
a.jbAppTableFrameButtonOK:visited { border: outset 2px aliceblue; background: aliceblue; } 

a.jbAppTableFrameButtonCancel {padding-left:10px; padding-right:10px; margin-left:10px; margin-right: 10px; border: outset 2px aliceblue; background: aliceblue; cursor: pointer; } 
a.jbAppTableFrameButtonCancel:active { border: inset 2px orange; background: orange; } 
a.jbAppTableFrameButtonCancel:hover { border: outset 2px orange; background: orange; } 
a.jbAppTableFrameButtonCancel:visited { border: outset 2px aliceblue; background: aliceblue; } 

ul.menu {margin:0px; padding:1px; font-size: smaller;}
ul.menu, ul.menu a, ul.menu a:visited { font-family: sans-serif; color: navy; text-decoration: none; }
ul.menu, ul.menu li, ul.menu ul {background-color: aliceblue; }
ul.menu ul , ul.menu li  {border: outset 1px aliceblue;}
ul.menu li {list-style-type: none;  padding-left: 10px; padding-right: 10px; position:relative;}
ul.menu ul {padding: 0px;}
ul.menu > li {float:left;}
ul.menu > li.right {float:right;}
ul.menu > li > ul {left:10%; width:200%;}
ul.menu > li.right > ul {left:-100%;}
ul.menu > li > ul ul {left:100%; width:100%; top:-100%;}
ul.menu > li.right > ul ul {left:-100%;}
ul.menu li > ul {display:none; position:absolute; z-index:1000000;}
ul.menu li:hover, ul.menu li:active {background-color: orange; border: outset 1px orange;}
ul.menu ul:hover, ul.menu ul:active {background-color: orange; border: outset 1px orange;}
ul.menu li:hover > ul, ul.menu li:active > ul {display:block;}

div.help {background-color:aliceblue; padding:10px; width: 300px; height:300px; overflow:auto;}


.jbAppTabFrameLabels {}
.jbAppTabFrameContent { border: solid 1px navy; border-top-left-radius: 5px;border-top-right-radius: 5px; }
.jbAppTabFrameContentVertical { border: solid 1px navy; border-top-left-radius: 5px;border-top-right-radius: 5px; }
.jbAppTabFrameLabels > a { padding:1px; margin-left: 5px; margin-right: 5px; text-decoration: none;  }
.jbAppTabHorizontal {}
.jbAppTabHorizontal > a {  background-color: aliceblue; color: grey;  border: solid 1px navy; border-bottom-width: 0px; padding-bottom: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.jbAppTabVertical { float: left; text-align: right; }
.jbAppTabVertical > a {text-decoration: none; 
margin-left: 0px; margin-right: 0px; margin-top: 5px; margin-bottom: 5px; 
display: block; background-color: aliceblue; color: grey; border: solid 1px navy; border-top-left-radius: 5px; border-bottom-left-radius: 5px; 
position:relative; left:1px; padding-left:2px; padding-right:2px;}


a.jbAppTabHorizontalActive { background-color: orange; color: navy;  border: solid 1px navy; border-bottom-width: 0px; padding-bottom: 1px; }
a.jbAppTabVerticalActive {  background-color: orange; color: navy;  border: solid 1px navy; border-right-width: 0px;
	display: block;  border-top-left-radius: 5px; border-bottom-left-radius: 5px;position:relative; left:1px;padding-left:2px; padding-right:2px;}