{% extends "admin/base.html" %}
{% load i18n grp_tags %}

{% block title %}CLMSVault | {{ title }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
