<style type="text/css">
    .required:after { content: '*'; }
</style>

    <script type="text/javascript" src="/admin/jsi18n/"></script>

    <script type="text/javascript" charset="utf-8">

        (function($) {

            $(document).ready(function() {

                grappelli.initDateAndTimePicker();

                $("#grp-content-container .grp-group").grp_collapsible_group();

                $("#grp-content-container .grp-collapse").grp_collapsible({

                    on_init: function(elem, options) {

                        // open collapse (and all collapse parents) in case of errors

                        if (elem.find("ul.errorlist").length > 0) {

                            elem.removeClass("grp-closed")

                                .addClass("grp-open");

                            elem.parents(".grp-collapse")

                                .removeClass("grp-closed")

                                .addClass("grp-open");

                        }

                    }

                });

                var related_lookup_fields_fk = [];

                var related_lookup_fields_m2m = [];

                var related_lookup_fields_generic = [];

                var autocomplete_fields_fk = [];

                var autocomplete_fields_m2m = [];

                var autocomplete_fields_generic = [];

                $.each(related_lookup_fields_fk, function() {

                    $("#id_" + this).grp_related_fk({lookup_url:"/grappelli/lookup/related/"});

                });

                $.each(related_lookup_fields_m2m, function() {

                    $("#id_" + this).grp_related_m2m({lookup_url:"/grappelli/lookup/m2m/"});

                });

                $.each(related_lookup_fields_generic, function() {

                    var content_type = "#id_" + this[0],

                        object_id = "#id_" + this[1];

                    $(object_id).grp_related_generic({content_type:content_type, object_id:object_id, lookup_url:"/grappelli/lookup/related/"});

                });

                $.each(autocomplete_fields_fk, function() {

                    $("#id_" + this).grp_autocomplete_fk({

                        lookup_url:"/grappelli/lookup/related/",

                        autocomplete_lookup_url:"/grappelli/lookup/autocomplete/"

                    });

                });

                $.each(autocomplete_fields_m2m, function() {

                    $("#id_" + this).grp_autocomplete_m2m({

                        lookup_url:"/grappelli/lookup/m2m/",

                        autocomplete_lookup_url:"/grappelli/lookup/autocomplete/"

                    });

                });

                $.each(autocomplete_fields_generic, function() {

                    var content_type = "#id_" + this[0],

                        object_id = "#id_" + this[1];

                    $(object_id).grp_autocomplete_generic({

                        content_type:content_type,

                        object_id:object_id,

                        lookup_url:"/grappelli/lookup/related/",

                        autocomplete_lookup_url:"/grappelli/lookup/autocomplete/"

                    });

                });

                $("a#grp-open-all").bind("click", function(){

                    $("#grp-content .grp-collapse-handler").each(function() {

                        $(this).parent(".grp-collapse").removeClass("grp-closed").addClass("grp-open");

                    });   

                });

                $("a#grp-close-all").bind("click", function(){

                    $("#grp-content .grp-collapse-handler").each(function() {

                        $(this).parent(".grp-collapse").removeClass("grp-open").addClass("grp-closed");

                    });

                });

            });

        })(grp.jQuery);

    </script>
