{% load static %}

{%if all_bin_values|length != 0 %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

global_selected_series = '';

$(function () {
	

	
	$('#container_histo').width(Math.floor($('body').innerWidth()/3));
        $('#container_histo').highcharts({

		    chart: {
		        renderTo: 'container_histo',
		        type: 'column',
		        zoomType: 'x',
		        events: {
                    load: function() {
                        global_selected_series = this.series[3];
                    }
                }
		    },
			credits: {
                enabled: false
            },
			legend: {
            	enabled: true,
            	align: 'left',
            	verticalAlign: 'top',
            	floating: true,
            	x: 75,
            	//y: s0
           	},
		    title: {
		        text: ''
		    },
            xAxis: {
            	title: {
		            text: 'Inter-residues distance (\u212B)'
		        },
				categories: [
				{% for bin in bin_labels%}
				{{bin|floatformat}}, 
				{% endfor %}
				],
				labels:{
            		rotation:-90,
            		y:20,
           		},
				tickmarkPlacement: 'between',
            },

		    yAxis: {
		        title: {
		            text: 'Count'
		        },
		        
		    },
			scrollbar : {
				enabled : false
			},
			// tooltip: {
	            // useHTML: true,
	            // formatter:function() {
            		// return '<b>Range:</b><br/> ['+ this.x.toFixed(1) +', ' +  (this.x + {{bin_width}}).toFixed(1) + '[<br/>'+
            	// '<b>Count:</b> '+ this.y;
        		// }
        	// },
			plotOptions: {
				column:{
					
	            	pointPadding:0,
            		groupPadding:0,
        		},
                series: {
                    marker: {
                        lineWidth: 1
                    }
                }
            },
			series: [{
				name: 'All',
                data: [{% for val in all_bin_values%}
				{{val}}, 
				{% endfor %}
				]
            },
            {
				name: 'Min',
                data: [{% for val in min_bin_values%}
				{{val}}, 
				{% endfor %}
				]
            },
            {
				name: 'Random',
                data: [{% for val in rand_bin_values%}
				{{val}}, 
				{% endfor %}
				]
            },
            {
				name: 'Selected',
				data: []
			}]

		});
});



</script>



<div id="container_histo" style="width:500px;height:250px;">
	<font size=2>
	<img src="{% static "img/ajax-loader.gif" %}" style="visibility:hidden; width:0px;height:0px;"/>
	<br /><img src="{% static "img/ajax-loader.gif" %}" /> Generating chart...please wait...
	<div id="loadingmsg"></div>
	</font>
</div>

{% endif %}
