{% extends "admin/base_site.html" %}
{% load mytemplatetags %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static "js/jquery-ui-1.10.4.custom/css/redmond/jquery-ui-1.10.4.custom.min.css" %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "js/jquery.jqGrid-4.6.0/css/ui.jqgrid.css" %}" />

<!-- breaking out the library for debugging -->

<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>



<script type="text/javascript" src="{% static "js/jsmol/js/JSmoljQueryExt.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolCore.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolApplet.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolApi.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolControls.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/j2sjmol.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmol.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolConsole.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolMenu.js" %}"></script>

<!-- // following two only necessary for WebGL version:

-->

<script type="text/javascript" src="{% static "js/jsmol/js/JSmolThree.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsmol/js/JSmolGLmol.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js" %}"></script>

<script src="{% static "js/jquery.jqGrid-4.6.0/js/i18n/grid.locale-en.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "js/jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js" %}"></script>

<style>
	[type="checkbox"] {
		vertical-align: bottom;
	}

</style>
<script type="text/javascript">
	chainColors = {
		"A" : "C0D0FF",
		"B" : "B0FFB0",
		"C" : "FFC0C8",
		"D" : "FFFF80",
		"E" : "FFC0FF",
		"F" : "B0F0F0",
		"G" : "FFD070",
		"H" : "F08080",
		"I" : "F5DEB3",
		"J" : "00BFFF",
		"K" : "CD5C5C",
		"L" : "66CDAA",
		"M" : "9ACD32",
		"N" : "EE82EE",
		"O" : "00CED1",
		"P" : "00FF7F",
		"Q" : "3CB371",
		"R" : "00008B",
		"S" : "BDB76B",
		"T" : "006400",
		"U" : "800000",
		"V" : "808000",
		"W" : "800080",
		"X" : "008080",
		"Y" : "B8860B",
		"Z" : "B22222",
	};

	Jmol.getProfile();
	delete Jmol._tracker;

	// Remove alert for binary file # Mathieu
	Jmol._alertNoBinary = false;

	// Hide search box # Mathieu
	Jmol._grabberOptions = [];

	// Initial script
	script = "set antialiasDisplay true; set platformSpeed 4;";
	script += "load {{pdb.file.url}};";
	script += "display not water;";
	script += "select protein or nucleic;";
	script += "trace only;";
	script += "color chain;";
	script += "set measurements angstroms;";
	script += "set measurements 0.1;";
	script += "set defaultDistanceLabel \"%0.0VALUE \u212B//A\";";

	var jmolApplet0;
	var Info;

	;(function() {

		jmol_isReady = function(applet) {

			document.title = (applet._id + " is ready")

			Jmol._getElement(applet, "appletdiv").style.border = "1px solid black"

		}
		Info = {

			width : Math.floor($('body').innerWidth()/3),

			height : 550,

			debug : false,

			color : "#FFFFFF",

			addSelectionOptions : true,

			serverURL : "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",

			use : "{{viewer}}",

			//language: "fr", // NOTE: LOCALIZATION REQUIRES <meta charset="utf-8"> (see JSmolCore Jmol.featureDetection.supportsLocalization)

			jarPath : "{% static "js/jsmol/java" %}",

			j2sPath : "{% static "js/jsmol/j2s" %}",

			jarFile : "JmolApplet.jar",

			isSigned : false,

			disableJ2SLoadMonitor : false,

			disableInitialConsole : false,

			readyFunction : jmol_isReady,

			allowjavascript : true,

			script : script

		}

	})();

	var commands = {}
	
	selected_bin_values = [{% for val in all_bin_values%}0,{% endfor %}];

	commands['showhideCL'] = function(value, status) {
		position = positions[value];
		
		
		
		floor = Math.floor(position['distance']);
		bin = Math.floor((floor - {{ min_val }})/2);

		
		if (status) {
			 selected_bin_values[bin]++;
		}
		else {
			selected_bin_values[bin]--;
		}
		//alert(selected_bin_values);
		{%if all_bin_values|length != 0 %}
		global_selected_series.setData(selected_bin_values.slice(0), true);
		{% endif %}
		
		color_command = ''
		
		if(scale_type == 'quant') {
			color_command = 'color measure [x' + scale(quant[position['pk']]).substring(1) + ']; '
		}
		else if(scale_type == 'score') {
			color_command = 'color measure [x' + scale(position['score']).substring(1) + ']; '
		}
		else if(scale_type == 'validation') {

		    status = validation[position['pk']];

		    colors = {};
            colors['G'] = '00a65a';
            colors['Y'] = 'f39c12';
            colors['R'] = 'dd4b39';
            colors[''] = '999999';

			color_command = 'color measure [x' + colors[status] + ']; '
		}
		else {
			color_command = 'color measure [x999999]; '
		}
		
		return color_command + 'measure (' + position['res1'] + ') (' + position['res2'] + ')';

	};

	

	commands['showhideChain'] = function(value, status) {

		chains = '';

		$("#showhideChain:not(:checked)").each(function() {

			chains += ' and not :' + $(this).val();

		});

		return 'display not waters ' + chains;

	};

	var positions = {{cross_links_array}};
	quant = {
	{% for quant_clpep in quant_set %}
	{{quant_clpep.clpeptide.pk}}: {{quant_clpep.fold_change}},
	{% endfor %}
	};


	validation = {
    {% for clpep in validation_list %}
    {{clpep.pk}}: '{{clpep.validated}}',
    {% endfor %}
    };


	var coloredLabeled = {};
	

	function isoSurface() {

		command = ' isoSurface off; ';

		count = 0;

		var chain_res_ignore = {};

		$("#showhideChain:checked").each(function() {

			ignore = '';

			chain_res_ignore[$(this).val()] = ' ';

		});


		$.each(coloredLabeled, function(key, value){
			
      		if(value == 1) {
      			
      			count++;
				pos = key.split(".")[0];
				chain = pos.split(":")[1];

				if ( chain in chain_res_ignore) {

					chain_res_ignore[chain] += 'and not ' + pos + ' ';

					command += 'define temp ' + pos + '; ';
					command += 'isoSurface surf' + count + ' select(temp) ignore(not temp) solvent; ';
					command += 'color isosurface red; ';
				}
      			
      		}
      		
    	});


		$("#showhideChain:checked").each(function() {

			ignore = '';

			if ($(this).val() in chain_res_ignore) {
				ignore = chain_res_ignore[$(this).val()];
			}

			command += 'define temp :' + $(this).val() + ignore + '; ';
			command += 'isoSurface surf' + $(this).val() + ' select(temp) ignore(not temp) solvent; ';
			command += 'color isosurface [x' + chainColors[$(this).val()] + ']; ';

		});

		Jmol.script(jmolApplet0, command);
	}


	

	$(document).ready(function() {

		

		// Create table of cross-links
		createTable(positions);

		// Add change event to checkbox
		$(":checkbox").change(function() { javascript:
			Jmol.script(jmolApplet0, commands[$(this).attr('id')]($(this).attr('value'), $(this).is(':checked')));

		});


		
		$("a.colorLabel").click(function() { javascript:
			
			command = '';
			
			if(coloredLabeled[$(this).text()] == 1) {
				$('[id="' + $(this).attr('id') + '"]').css('color','black');
				coloredLabeled[$(this).text()] = 0;
				
				
				var chain = $(this).text().split(':')[1];
				chain = chain.split('.')[0];
				var color = chainColors[chain];

				command += 'select (' + $(this).text() + ');  label off; ';
				command += 'select (' + $(this).text() + ');  color [x' + color + ']; ';
			}
			else {
				
				$('[id="' + $(this).attr('id') + '"]').css('color','red');
				coloredLabeled[$(this).text()] = 1;

				command += 'select (' + $(this).text() + ');  label "[%n]%r:%c"; color label white;';
				command += 'select (' + $(this).text() + ');  color red; ';
				
			}
			
			
			Jmol.script(jmolApplet0, command);
		});

		// Display cross-links based on distance threshold
		$("#distance_threshold").on('change keyup paste', function() {

			var distance_threshold = parseFloat($("#distance_threshold").attr('value'));

			for (var i = 0; i < positions.length; i++) {
				var checkbox = "input:checkbox[id='showhideCL'][value=" + i + "]";
				var checkbox_status = $(checkbox).attr('checked');

				//alert(checkbox_status);

				if (positions[i]['distance'] <= distance_threshold && positions[i]['distance'] > 0) {

					if (checkbox_status != 'checked') { javascript:
						Jmol.script(jmolApplet0, commands['showhideCL'](i, true));
						$(checkbox).attr('checked', true);
					}

				} else {
					if (checkbox_status == 'checked') { javascript:
						Jmol.script(jmolApplet0, commands['showhideCL'](i, false));
						$(checkbox).attr('checked', false);
					}
				}
			}

		});

	});

	function createTable(tableData) {
		// This function create the cross-links table

		var table = document.getElementById('cl_table');
		var tableBody = document.createElement('tbody');

		var i = -1;
		tableData.forEach(function(rowData) {
			
			
			i++;

			var row = document.createElement('tr');
			row.setAttribute('style', 'vertical-align :right;');

			var j = -1;
			
			$.each(rowData, function(key, cellData){

				j++;
				
				
					
					var cell = document.createElement('td');
					if (j == 0) {
						cell.innerHTML = '<a href="/admin/CLMSVault_app/clpeptide/' + cellData + '/" style="text-decoration:underline;">' + cellData + '</a>';
					}
					else if (j == 3 || j == 4) {
						
						id = cellData;
						id = id.replace('[', '');
						id = id.replace(']', '-');
						id = id.replace(':', '-');
						id = id.replace('.', '-');
						cell.innerHTML = '<a href="#" class="colorLabel" id="' + id + '" style="text-decoration:underline;">' + cellData + '</div>';
					} else {
						cell.appendChild(document.createTextNode(cellData));
					}

					row.appendChild(cell);
				
				

				
			});

			var checkbox = document.createElement('input');
			checkbox.type = "checkbox";
			checkbox.value = i;
			checkbox.id = "showhideCL";
			var cell = document.createElement('td');

			if (positions[i]['distance'] > 0) {
				cell.appendChild(checkbox)
			}

			//cell.setAttribute('style','vertical-align :right;');
			row.appendChild(cell);

			tableBody.appendChild(row);

		});

		table.appendChild(tableBody);

		tableToGrid("#cl_table", {
			height : 750,
			rowNum : 100,
			caption : "Mapped cross-links    ({{mapped_cl_count}}/{{cl_count}})",
			scroll : false,
			rownumbers : false,
			treeGrid : false,
			gridview : true,
		});

	}

</script>

<table width="100%">

	<tr>

		<td valign="top" width="33%">
		<script  type="text/javascript">
			jmolApplet0 = Jmol.getApplet("jmolApplet0", Info)

		</script><strong><a href='http://www.rcsb.org/pdb/explore/explore.do?structureId={{pdb.identifier}}'>{{pdb.identifier}}</a></strong> - {{pdb.title|title}}
		<br />
		<br />
		{% for key, name, chains in molecules %} <strong>Molecule {{key}} - </strong>{{name}}
		- Chains:
		{% for chain in chains %}
		{% if chain != "," and chain != " "  %}
		{{chain|upper}}
		&nbsp;&nbsp;
		{% endif %}
		{% endfor %}
		<br /><br />
		{% endfor %}
		
		<strong>Show/hide chain: </strong>
		{% for chain in chain_list %}
		{% if chain != "," and chain != " "  %}
		{{chain|upper}}
		<input type="checkbox" value="{{chain|upper}}" id="showhideChain" checked="checked">
		&nbsp;&nbsp;
		{% endif %}
		{% endfor %}
		
		
		
		<br /><br /><br />
		
		{% include 'histogram.html' %}

		
		</td><td valign="top">
		<table border=1 id="cl_table">
			<thead>
				<tr>
					<th style="vertical-align:bottom;">CLPeptide ID</th>
					<th style="vertical-align:bottom;">Protein 1</th>
					<th>Protein 2</th>
					<th>PDB residue 1</th>
					<th>PDB residue 2</th>
					<th>Score</th>
					<th>Distance</th>
					<th>PI1</th>
					<th>PI2</th>
					<th>S/H</th>
				</tr>
			</thead>

		</table>
		<br />
			&nbsp;Maximum distance threshold (A)&nbsp;
			<input type="text" id="distance_threshold" />
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font>

			Image quality/performance:

			<a href="javascript:Jmol.script(jmolApplet0,'set antialiasDisplay false')">faster</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set antialiasDisplay true')">sharper</a>&nbsp;&nbsp;&nbsp;&nbsp;

			platformSpeed:

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 8')" title='all features'>8</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 7')" title='no antialiasing'>7</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 6')" title='no translucency'>6</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 5')" title='surfaces dotted'>5</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 4')" title='cartoons as trace'>4</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 3')" title='geosurfaces as dots'>3</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 2')" title='ellipsoids as dots'>2</a>&nbsp;

			<a href="javascript:Jmol.script(jmolApplet0,'set platformSpeed 1')" title='wireframe only'>1</a>&nbsp;&nbsp;&nbsp;

			&nbsp;&nbsp;&nbsp;
			
			<a href="javascript:Jmol.script(jmolApplet0,'console')">Console</a> &nbsp;&nbsp;&nbsp;
			IsoSurface <a href="javascript:isoSurface()">On</a>
			<a href="javascript:Jmol.script(jmolApplet0,'isoSurface off')">Off</a> &nbsp;&nbsp;&nbsp; <a target=_blank href=http://chemapps.stolaf.edu/jmol/docs>Jmol/JSmol interactive scripting documentation</a>

			<br />
			

		</font>
		<br />
		{% include 'quantification.html' %}
		
		</td>
		
		

		
	</tr>

</table>
<br />
<br />
<strong>Mann-Whitney rank test</strong>
<br /><br />
Two-sided p-value for {{draw_count}} draw of sample with size of {{mapped_cl_count}}.

{% if mapped_cl_count <= 20 %}
<strong style='color: red'>(Warning sample size is too small)</strong>
{% endif %}
<br /><br />
{{p_value}}

<br />
<br />
A small p-value indicates that the observed cross-links distance distribution differs from a random selection distribution. Please select the appropriate random distribution for your cross-linker in the previous page.
<br /><br />
<br />
<strong>Alignments</strong>
<div style="width:100%;overflow:scroll;border-style: solid;
    border-width: 1px; color: black; padding:5px;">

<pre>
		<font face= "Courier New">
		{% for fasta_id, values in alignments.items %}
		
		{% for aligment in values%}
		{{fasta_id}} - Chain {{aligment|get_item:'chain'}}
		{{aligment|get_item:'fasta_seq_aligned'}}
		{{aligment|get_item:'pdb_seq_aligned'}}
		Protein identity: {{aligment|get_item:'identity'|floatformat:3}}
		{% endfor %}
		{% endfor %}
		</font>
</pre>
</div>		
		
		
		


{% endblock %}