{% load static %}

<script type="text/javascript" src="{% static "js/chroma.js-master/chroma.js" %}"></script>

{% if color_scheme == 'score' %}
<div class="controlGroup">
	Peptide score: [{{min_score}}, {{max_score}}]<div class="quantGradient"></div>
</div>
{% endif %}

{% if color_scheme == 'quant' %}
<div class="controlGroup">
	Fold change: [-{{fold_change_limit}}, {{fold_change_limit}}]<div class="quantGradient"></div>
</div>
{% endif %}

<script type="text/javascript">
	function showScale(cs, outerdiv) {
		cs.out('hex');
		var c = document.createElement('div');
		for (var i = 0; i <= 1; i += 0.001) {
			var d = document.createElement('div');
			d.style.display = 'inline-block';
			d.style.width = '0.5px';
			d.style.height = '23px';
			d.style.background = cs(i);
			c.appendChild(d);
		}
		outerdiv.appendChild(c);
	}

	scale_type = '{{color_scheme}}';
	hide_not_quantified = false;
	{% if hide_not_quantified %}
	hide_not_quantified = true;
	{% endif %}

	{% if color_scheme == 'score' %}
	
	// From ColorBrewer 2.0
	scale = chroma.scale(['#d0d1e6', '#a6bddb', '#67a9cf', '#3690c0', '#02818a', '#016c59', '#016c59', 'black']);

	//scale = chroma.scale(['#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c', '#bd0026', '#800026', 'black']);
	//scale = chroma.scale(['gray', 'greenyellow', 'red', 'black']);
	d = document.createElement('div');
	d.style.position = 'relative';
	$(".quantGradient").append(d);
	showScale(scale, d);
	scale = scale.domain([{{min_score}}, {{max_score}}]);
	{% endif %}

	{% if color_scheme == 'quant' %}
	//scale = chroma.scale(['green', 'black', 'red']);
	scale = chroma.scale(['#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#fee090', '#fdae61', '#f46d43', '#d73027']);
	d = document.createElement('div');
	d.style.position = 'relative';
	$(".quantGradient").append(d);
	showScale(scale, d);
	scale = scale.domain([-{{fold_change_limit}}, {{fold_change_limit}}]);
	{% endif %}
</script>