{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>xiNET | Rappsilber Laboratory</title>
		<link rel="stylesheet" href="{% static "crosslink-viewer-master/css/xiNET.css" %}">
		<link rel="stylesheet" href="{% static "crosslink-viewer-master/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "crosslink-viewer-master/css/flat-ui.css" %}" >
		<link rel="stylesheet" href="{% static "crosslink-viewer-master/css/demo.css" %}">
        <!--libraries-->
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/d3.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/colorbrewer.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/jsdas.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/Blob.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/FileSaver.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/rgbcolor.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/prototype.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/lib/slider.js" %}"></script>
        <!--xiNET-->
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/Init.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/MouseEvents.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/Layout.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/Refresh.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/ToolTips.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/Match.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/Link.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/Protein.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/Protein_printAnnotationInfo.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/Annotations.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/ProteinLink.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/model/ResidueLink.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/ExternalControls.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/Rotator.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/DASUtil.js" %}"></script>
        <script type="text/javascript" src="{% static "crosslink-viewer-master/js/controller/ReadCSV.js" %}"></script>
        
        
		<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
    </head>
    <body>
	<div id="outerDiv">
			<div class="controls">
				<button class="btn btn-inverse help" onclick="toggleHelpPanel()">Help</button>
				<button class="btn btn-inverse exportsvg" onclick="xlv.exportSVG('networkSVG');">Export Graphic</button>
				<button class="btn btn-inverse autolayout" onclick="xlv.autoLayout();">Auto Layout</button>
				<button class="btn btn-inverse resetzoom" onclick="xlv.resetZoom();">Reset Zoom</button>		
				<div class="controlGroup" id="scoreSlider" >
					<p class="scoreLabel" id="scoreLabel1"></p>
					<div id="track1" class="sliderbar">
						<div class="selected" id="handle1"></div> 
					</div> <!-- track1 sliderbar -->
					<p class="scoreLabel" id="scoreLabel2"></p>
					<p id="debug1">&nbsp;&nbsp;Score Cut-Off:</p>
				</div> <!-- outlined scoreSlider -->
				<div class="controlGroup"><p>Self-links&nbsp;
					<input checked="checked" id="internal" onclick=
						"xlv.hideInternal(!document.getElementById('internal').checked)" 
					type="checkbox"></p>
				</div>
				
				 <div class="controlGroup"><p>Ambiguous&nbsp;
					<input checked="checked" id="ambig" onclick=
						"xlv.hideAmbig(!document.getElementById('ambig').checked)" 
					type="checkbox"></p>
                </div>
                
                {% include 'quantification.html' %}


	

    
                
			</div>
					
			<div id="networkContainer"></div>
				
			<div class="overlay overlay-box" id="helpPanel">
					<table class="hor-minimalist-a"  bordercolor="#eee" >
						<tr>
							<td>Toggle between circle and bar</td>
							<td>Click on protein</td>
						</tr>
						<tr>
							<td>Zoom</td>
							<td>Mouse wheel</td>
						</tr>
						<tr>
							<td>Pan</td>
							<td>Click and drag on background</td>
						</tr>
						<tr>
							<td>Move protein</td>
							<td>Click and drag on protein</td>
						</tr>
						<tr>
							<td>Expand bar</td>
							<td>Shift_left-click on protein</td>
						</tr>
						<tr>
							<td>Rotate bar</td>
							<td>Hover over end of bar; drag handle</td>
						</tr>
						<tr>
							<td>Hide/show protein (and links to it)</td>
							<td>Right-click on protein</td>
						</tr>
						<tr>
							<td>Hide/show links between proteins</td>
							<td>Right click on link</td>
						</tr>
						<tr>
							<td>Flip side for self-links</td>
							<td>Right-click on self-link</td>
						</tr>
					</table> 
					<p>&nbsp;</p>
					<p>Tip: To change the size of proteins in relation to the size of
						 the page press Ctrl/- or Ctrl/+. 
						 (This zooms the browser, on a Mac its Cmd/- or Cmd/+.) 
					</p>
				</div>
			</div>	
	
			<div class="info overlay-box"  id="infoPanel">
				<div>
					<button class="btn btn-inverse" id="infoButton" onclick="toggleInfoPanel()">Show More&#x25B2</button>
		
					<div id="networkCaption">
						<h5>No Selection.</h5>
					</div>
				</div>
			</div>	
				
		</div>

		<script type="text/javascript">
                //<![CDATA[
                
                
                            
                            document.onkeypress = function (e) {
                                        //~ //e = e || window.event;
                                        //~ //alert(e.keyCode);
                                        xlv.exportSVG('networkSVG');
                                };

            
	var targetDiv = document.getElementById('networkContainer');
	var messageDiv = document.getElementById('networkCaption');
	xlv = new xiNET.Controller(targetDiv);
	xlv.setMessageElement(messageDiv);
	xlv.cutOff = 0;
    //
        jQuery.noConflict();
    //
    // horizontal slider control
    new Control.Slider('handle1', 'track1', {sliderValue: 0,
        onSlide: function(v) {
            $('debug1').innerHTML = 'cut-off: ' + roundNumber(v * 15, 1);
            xlv.setCutOff(roundNumber(v * 15, 1));
        },
        onChange: function(v) {
            $('debug1').innerHTML = 'cut-off: ' + roundNumber(v * 15, 1);
            xlv.setCutOff(roundNumber(v * 15, 1));
        }
    });
    function roundNumber(num, dec) {
        var result = Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
        return result;
    }
    PV = {};
    PV.hideA = false;
    PV.hideB = false;
    PV.hideC = false;
    PV.hideQ = false;
    PV.hideAUTOTRUE = false;
    
    xlv.filter = function (match) {
		if (typeof match.validated !== 'undefined') {
			var vChar = match.validated.toUpperCase()[0];
			if (vChar == 'A' && !PV.hideA) return true;
			else if (vChar == 'B' && !PV.hideB) return true;
			else if (vChar == 'C' && !PV.hideC) return true;
			else if (vChar == '?' && !PV.hideQ) return true;
		}
		if (match.autovalidated){
			if (!PV.hideAUTOTRUE && (match.score >= xlv.cutOff))  return true;
		}
		//        else {
		//            if (!PV.hideAUTOFALSE && (this.score >= PV.cutOff))  return true;
		//            }
		return false;
	}
	
xlv.sid = "1633";//SELECT has_protein.peptide_id, has_protein.protein_id, peptide_position INTO TEMPORARY tempHasProtein81_132_152_120_1384432966 FROM has_protein, tempMatchedPeptides81_132_152_120_1384432966 WHERE tempMatchedPeptides81_132_152_120_1384432966.peptide_id = has_protein.peptide_id GROUP BY  has_protein.peptide_id, has_protein.protein_id, peptide_position;
//SELECT t1.layout AS l  FROM layouts AS t1  LEFT OUTER JOIN layouts AS t2  ON (t1.search_id = t2.search_id AND t1.time &lt; t2.time)  WHERE t1.search_id = 1633 AND t2.search_id IS NULL;
{% load mytemplatetags %}


{% for protein in protein_set %}
xlv.addProtein ({{protein.pk}},'','{{protein.sequence}}','{{protein.description}}','{{protein.identifier}}','{{protein.sequence|length}}');
{% endfor %}

{% for clpep in clpeptide_set %}
xlv.addMatch("{{clpep.fs_prot1_id.pk}}",[{{clpep.peptide_position1|zero2one }}],"{{clpep.fs_prot2_id.pk}}",[{{clpep.peptide_position2|zero2one }}],{{clpep.pk}},{{clpep.match_score}},{{clpep.pep1_link_pos}},{{clpep.pep2_link_pos}},"{{clpep.peptide_wo_mod1}}","{{clpep.peptide_wo_mod2}}",'t','','');
{% endfor %}

quant = {
{% for quant_clpep in quant_set %}
{{quant_clpep.clpeptide.pk}}: {{quant_clpep.fold_change}},
{% endfor %}
};

validation = {
{% for clpep in clpeptide_set %}
{{clpep.pk}}: '{{clpep.validated}}',
{% endfor %}
};

   // synchFilters();


    xlv.init();

         </script>        
		<script type="text/javascript">
                //<![CDATA[			
				function initSlider(){
					if (xlv.scores != null){
						document.getElementById('scoreLabel1').innerHTML = xlv.scores.min.toFixed(2);
						document.getElementById('scoreLabel2').innerHTML = xlv.scores.max.toFixed(2) + '&nbsp;&nbsp;';
						document.getElementById('debug1').innerHTML = 'Cut-Off:' + xlv.scores.min.toFixed(2);
						new Control.Slider('handle1', 'track1', {
							sliderValue: 0,
							onSlide: function(v) {
								var cut = calcCutOff(v);
								document.getElementById('debug1').innerHTML = 'Cut-Off: ' + cut;
								xlv.setCutOff(cut);
							},
							onChange: function(v) {
								var cut = calcCutOff(v);
								document.getElementById('debug1').innerHTML = 'Cut-Off: ' + cut;
								xlv.setCutOff(cut);
							}
						});
						function calcCutOff(v) {
							var result = (v * (xlv.scores.max - xlv.scores.min)) + xlv.scores.min;
							result = result.toFixed(2);
							return result;
						}
					}
					else {
						//no score
						document.getElementById('scoreSlider').setAttribute("style", "display:none;");
					}
				}
				
				initSlider();				
                //]]>
        </script>
		<script type="text/javascript">
				//<![CDATA[
				helpShown = false;
				infoShown = false;
				function toggleHelpPanel() {
					if (helpShown){
						hideHelpPanel();
					}
					else {
						showHelpPanel();
					}
				}
				
				function toggleInfoPanel() {
					if (infoShown){
						hideInfoPanel();
					}
					else {
						showInfoPanel();
					}
				}
				
				function showHelpPanel() {
						helpShown = true;
						d3.select("#helpPanel").style('display','block');
						d3.select("#helpPanel").transition().style("top", "0%").duration(700);
						d3.select(".help").attr('class', "btn help");
				}
				function hideHelpPanel() {
						helpShown = false;
						d3.select("#helpPanel").transition().style("top", "100%").duration(700);
						//~ d3.select("#helpPanel").transition().style('display','none').delay(700);;
						d3.select(".help").attr('class', "btn btn-inverse help");
				}
				function showInfoPanel() {
						infoShown = true;
						d3.select("#infoPanel").transition().style("height", "300px").duration(700)
						.each("end", 
							function () {
								d3.select("#infoButton").html("Show Less&#x25BC;");
							});
				}
				function hideInfoPanel() {
						infoShown = false;
						d3.select("#infoPanel").transition().style("height", "60px").duration(700)
						.each("end", 
							function () {
								d3.select("#infoButton").html("Show More&#x25B2;");
							});
				}
				//]]>
		</script>
	</body>
</html>


